.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-card {
    padding: 0.5%;
    width: 25%;
    margin-top: 0%;
}